git+https://github.com/davidbau/baukit
accelerate
dataclasses-json
invoke
jupyter
jupyter_http_over_ws
matplotlib
numpy
protobuf==3.20.0
requests
seaborn
sentencepiece
tqdm
transformers
torch
huggingface-hub
datasets
plotly

# dev dependencies
black
isort
mypy
pytest
types-requests
