git+https://github.com/davidbau/baukit
accelerate
dataclasses-json
# TODO(evan): Needed?
huggingface-hub
invoke
jupyter
jupyter_http_over_ws
matplotlib
numpy
protobuf==3.20.0
requests
seaborn
sentencepiece
tqdm
transformers
torch

# dev dependencies
black
isort
mypy
pytest
types-requests
